---
http_interactions:
- request:
    method: get
    uri: https://api.wavesplatform.com/v0/pairs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"__type":"list","data":[{"__type":"pair","data":{"firstPrice":0.0051,"lastPrice":0.0047,"low":0.0045,"high":0.0051,"weightedAveragePrice":0.00470059701492537,"volume":1005000,"quoteVolume":4724.1,"volumeWaves":12962877.8824565,"txsCount":148},"amountAsset":"6UfBupFwFnWTrnFDWiR73LQjPxRY38CgZ6Bu4m4SySQY","priceAsset":"8LQW8f7P5d5PZM7GtZEBgaqRPGSzS3DfPuiXrURJ4AJS"},{"__type":"pair","data":{"firstPrice":13.7,"lastPrice":12.75,"low":12,"high":13.7,"weightedAveragePrice":12.5012610340479,"volume":475800,"quoteVolume":5948100,"volumeWaves":5948100,"txsCount":794},"amountAsset":"6UfBupFwFnWTrnFDWiR73LQjPxRY38CgZ6Bu4m4SySQY","priceAsset":"WAVES"},{"__type":"pair","data":{"firstPrice":0.155,"lastPrice":0.16,"low":0.15,"high":0.16,"weightedAveragePrice":0.155057736720554,"volume":86600,"quoteVolume":13428,"volumeWave[...]
- request:
    method: get
    uri: https://api.wavesplatform.com/v0/assets?ticker=*
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"__type":"list","data":[{"__type":"asset","data":{"ticker":"DAR","id":"K5JcgN8UdwNdh5sbdAuPMm5XEd5aFvoXaC3iHsHVz1d","name":"Darcrus","precision":6,"description":"https://darcr.us:
        \nEnterprise, Everywhere.\nTokenID 5Wkidywwzdbig7YXMVXrjSSahjqUsrLtHXEB9ukHYmU9
        is invalid.","height":269603,"timestamp":"2016-12-10T19:54:33.668Z","sender":"3PPKDQ3G67gekeobR8MENopXytEf6M8WXhs","quantity":13603210318335,"reissuable":false,"hasScript":false,"minSponsoredFee":50000}},{"__type":"asset","data":{"ticker":"OCL","id":"ABFYQjwDHSct6rNk59k3snoZfAqNHVZdHz4VGJe2oCV5","name":"$OCL
        Oceanlab","precision":8,"description":"Oceanlab.eu - Human ideas, blockchain
        realities.","height":597436,"timestamp":"2017-07-26T17:06:19.559Z","sender":"3PD8pb6qe6oBEAeZAEzTbAeZANwpbbXfUgW","quantity":4999991374018393,"reissuable":false,"hasScript":false,"minSponsoredFee":null}},{"__type":"asset","data":{"ticker":"ETT","id":"8ofu3VpEaVCFjRqLLqzTMNs5URKUUQMrPp3k6oFmiCc6","name":"EncryptoTel","precision":8,"description":"Official
        token of the Encrypto Telecom company. See www.EncryptoTel.com.","height":527644,"timestamp":"2017-06-06T14:14:01.718Z","sender":"3P33FS5SuJHWXg5QJkDABci1iaFQSa9qsDx","quantity":7532819735714456,"reissuable":false,"hasScript":false,"minSponsoredFee":null}},{"__type":"asset","data":{"ticker":"WGR","id":"8t8DMJFQu5GEhvAetiA8aHa3yPjxLj54sBnZsjnJ5dsw","name":"Wagerr","precision":8,"description":"Visit
        https://wagerr.com/ for more information","height":551246,"timestamp":"2017-06-23T14:27:47.809Z","sender":"3PASdsWjvY4SwQXHk7LbXeii5xxKQs6Khd3","quantity":19835932446790883,"reissuable":false,"hasScript":false,"minSponsoredFee":null}},{"__type":"asset","data":{"ticker":"BEAR","id":"9gnc5UCY6RxtSi9FEJkcD57r5NBgdr45DVYtunyDLrgC","name":"BearWaves","precision":2,"description":"BearWaves
        Node Token","height":488457,"timestamp":"2017-05-09T21:37:52.270Z","sender":"3PEFQiFMLm1gTVjPdfCErG8mTHRcH2ATaW[...]
